<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>vista.servlets.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>vista.servlets.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>vista.servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>vista.servlets.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Producto</servlet-name>
        <servlet-class>vista.servlets.Producto</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/500.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>UsuarioPerfil</servlet-name>
        <servlet-class>vista.servlets.UsuarioPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscador</servlet-name>
        <servlet-class>vista.servlets.Buscador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orden</servlet-name>
        <servlet-class>vista.servlets.Orden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoDetalle</servlet-name>
        <servlet-class>vista.servlets.ProductoDetalle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/iniciar-sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/cerrar-sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/registro-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Producto</servlet-name>
        <url-pattern>/registro-producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioPerfil</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscador</servlet-name>
        <url-pattern>/buscador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orden</servlet-name>
        <url-pattern>/carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoDetalle</servlet-name>
        <url-pattern>/detalle-producto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>
            vista.servlets.SessionFilter
        </filter-class>
        <init-param>
            <param-name>visitante-urls</param-name>
            <param-value>/home,/registro-usuario</param-value>
        </init-param>
        <init-param>
            <param-name>cliente-urls</param-name>
            <param-value>/home</param-value>
        </init-param>
        <init-param>
            <param-name>proveedor-urls</param-name>
            <param-value>/home,/registro-producto</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
